In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
print(pd.io.sql.get_schema(df, name='yello_taxi_data', con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [6]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [7]:
df = next(df_iter)
print(len(df))
print(df)

100000
       VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1             1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2             1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3             1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4             2  2021-01-01 00:31:49   2021-01-01 00:48:21                1
...         ...                  ...                   ...              ...
99995         1  2021-01-04 14:04:31   2021-01-04 14:08:52                3
99996         1  2021-01-04 14:18:46   2021-01-04 14:35:45                2
99997         1  2021-01-04 14:42:41   2021-01-04 14:59:22                2
99998         2  2021-01-04 14:39:02   2021-01-04 15:09:37                2
99999         2  2021-01-04 14:49:36   2021-01-04 14:54:44                5

       trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0               2.10           1                  N           142
1               0.20           1                  N           238
2              14.70           1                  N           132
3              10.60           1                  N           138
4               4.94           1                  N            68
...              ...         ...                ...           ...
99995           0.70           1                  N           234
99996           3.30           1                  N           234
99997           4.70           1                  N           236
99998          17.95           2                  N           132
99999           0.37           1                  N           236

       DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                43             2          8.0    3.0      0.5        0.00
1               151             2          3.0    0.5      0.5        0.00
2               165             1         42.0    0.5      0.5        8.65
3               132             1         29.0    0.5      0.5        6.05
4                33             1         16.5    0.5      0.5        4.06
...             ...           ...          ...    ...      ...         ...
99995           224             2          5.0    2.5      0.5        0.00
99996           236             1         14.5    2.5      0.5        3.55
99997            79             1         17.0    2.5      0.5        4.05
99998           148             1         52.0    0.0      0.5        5.00
99999           236             2          5.0    0.0      0.5        0.00

       tolls_amount  improvement_surcharge  total_amount  congestion_surcharge
0               0.0                    0.3         11.80                   2.5
1               0.0                    0.3          4.30                   0.0
2               0.0                    0.3         51.95                   0.0
3               0.0                    0.3         36.35                   0.0
4               0.0                    0.3         24.36                   2.5
...             ...                    ...           ...                   ...
99995           0.0                    0.3          8.30                   2.5
99996           0.0                    0.3         21.35                   2.5
99997           0.0                    0.3         24.35                   2.5
99998           0.0                    0.3         60.30                   2.5
99999           0.0                    0.3          8.30                   2.5

[100000 rows x 18 columns]

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [11]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [12]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 8.56 s

In [13]:
from time import time

In [16]:
while True:
    
    ts = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    te = time()
    
    print('Another chunk has been inserted, took %.3f seconds' % (te-ts))

Another chunk has been inserted, took 8.231 seconds
Another chunk has been inserted, took 8.233 seconds
Another chunk has been inserted, took 8.179 seconds
Another chunk has been inserted, took 8.341 seconds
Another chunk has been inserted, took 8.410 seconds
Another chunk has been inserted, took 8.534 seconds
Another chunk has been inserted, took 8.435 seconds
Another chunk has been inserted, took 8.441 seconds
Another chunk has been inserted, took 8.547 seconds

C:\Users\MacCasa\anaconda3\envs\tf-gpu\lib\site-packages\IPython\core\interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Another chunk has been inserted, took 8.982 seconds
Another chunk has been inserted, took 5.653 seconds

StopIteration:

In [10]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [11]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')